<mat-toolbar>
  <span>Register Unit</span>
  <span class="menu-spacer"></span>
</mat-toolbar>
<div class="form-wraper" style="text-align:center">
  <div class="form-container card" >
    <div class="form-body">

          <!-- Start of Multi unit Form-->  
          <form [formGroup]="multiUnitForm">

            <mat-form-field class="justifier">
              <mat-label>Unit ID</mat-label>
              <input matInput type="text" name="multiUnitId" formControlName="multiUnitIdControl"[readonly]="disableForm" autofocus>
            </mat-form-field>

            <mat-form-field class="justifier">
              <mat-label>Name of the Unit(Optional)</mat-label>
              <input matInput type="text" name="unitName" formControlName="unitNameControl" [readonly]="disableForm" autofocus>
            </mat-form-field>
      
            <mat-form-field class="justifier">
              <mat-label>Occupancy Status</mat-label>
              <mat-select name="occupancyStatus" formControlName="occupancyStatusControl" [readonly]="disableForm" >
                <mat-option *ngFor="let occupancyStatus of occupancyStatus" [value]="occupancyStatus.name">
                  {{occupancyStatus.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field class="justifier">
              <mat-label>Floor Level</mat-label>
              <mat-select name="floorLevel" formControlName="floorLevelControl" [readonly]="disableForm" >
                <mat-option *ngFor="let floorLevel of floorLevel" [value]="floorLevel.name">
                  {{floorLevel.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field class="justifier">
              <mat-label>Ownership</mat-label>
              <mat-select name="unitOwnership" formControlName="unitOwnershipControl" [readonly]="disableForm" >
                <mat-option *ngFor="let unitOwnership of unitOwnership" [value]="unitOwnership.name">
                  {{unitOwnership.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field class="justifier">
              <mat-label>Rent</mat-label>
              <input matInput type="text" name="rent" formControlName="rentControl" [readonly]="disableForm" autofocus>
            </mat-form-field>
      
            <mat-form-field class="justifier">
              <mat-label>Use</mat-label>
              <mat-select name="multiUnitUse" formControlName="multiUnitUseControl" (selectionChange)="changeDiff($event)" [readonly]="disableForm" required>
                <mat-option *ngFor="let unitUse of multiUnitUse" [value]="unitUse.name">
                  {{unitUse.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="justifier" *ngIf="displayOtherUse">
              <mat-label>If others please specify</mat-label>
              <input matInput type="text" name="otherUseRemark" formControlName="otherUseRemarkControl" [readonly]="disableForm" required autofocus>
            </mat-form-field>

      
            <mat-form-field class="justifier">
              <mat-label>Remarks</mat-label>
              <input matInput type="text" name="multiUnitRemarks" formControlName="multiUnitRemarksControl" [readonly]="disableForm" autofocus>
            </mat-form-field>
      
          </form>
          <!-- End of Multi unit Form-->
    
    <form [formGroup]="contactForm" *ngIf = "displayShopForm">
      <h4>Contact Form</h4>
      <mat-form-field class="justifier">
        <mat-label>Contact number </mat-label>
        <input matInput type="text" name="shopContact" formControlName="contactControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    
    </form>

         
          <!-- Start of Residents unit form-->
    <form [formGroup]="residentForm" *ngIf ="displayResidentForm">

      <h4>Residential Detail Form</h4>
      <mat-form-field class="justifier">
        <mat-label>Name of the Head of Household</mat-label>
        <input matInput type="text" name="headHousehold" formControlName="headHouseholdControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      <mat-form-field class="justifier">
        <mat-label>Contact number</mat-label>
        <input matInput type="text" name="contactNumberHead" formControlName="contactNumberHeadControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      <mat-form-field class="justifier">
        <mat-label>CID number</mat-label>
        <input matInput type="text" name="contactNumberHead" formControlName="cidControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      
      <h4>Nationality</h4>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Bhutanese</mat-label>
          <input matInput type="text" name="bhutaneseNationals" formControlName="bhutaneseNationalsControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Non Bhutanese</mat-label>
          <input matInput type="text" name="nonBhutaneseNationals" formControlName="nonBhutaneseNationalsControl"  [readonly]="disableForm" autofocus>
        </mat-form-field>

      </div>

      <div>
      <mat-form-field class="justifier">
        <mat-label>Nationality Remarks</mat-label>
        <input matInput type="text" name="nationalityRemarks" formControlName="nationalityRemarksControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    </div>

    <h4>Religion</h4>

    <div>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Buddhism Male</mat-label>
        <input matInput type="text" name="buddhismMale" formControlName="buddhismMaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Buddhism Female</mat-label>
        <input matInput type="text" name="buddhismFemale" formControlName="buddhismFemaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Hinduism Male</mat-label>
        <input matInput type="text" name="hinduismMale" formControlName="hinduismMaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Hinduism Female</mat-label>
        <input matInput type="text" name="hinduismFemale" formControlName="hinduismFemaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Christianity Male</mat-label>
        <input matInput type="text" name="christianityMale" formControlName="christianityMaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Christianity Female</mat-label>
        <input matInput type="text" name="christianityFemale" formControlName="christianityFemaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Others Male</mat-label>
        <input matInput type="text" name="otherMaleR" formControlName="otherMaleRControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Others Female</mat-label>
        <input matInput type="text" name="otherFemaleR" formControlName="otherFemaleRControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
    </div>

    <h4>Age by Gender</h4>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Male below 5</mat-label>
          <input matInput type="text" name="maleBelow6" formControlName="maleBelow6Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Female below 5</mat-label>
          <input matInput type="text" name="femaleBelow6" formControlName="femaleBelow6Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Male 6-17</mat-label>
          <input matInput type="text" name="male617" formControlName="male617Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Female 6-17</mat-label>
          <input matInput type="text" name="female617" formControlName="female617Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Male 18-24</mat-label>
          <input matInput type="text" name="male1824" formControlName="male1824Control" [readonly]="disableForm" autofocus>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Female 18-24</mat-label>
          <input matInput type="text" name="female1824" formControlName="female1824Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Male 25-59</mat-label>
          <input matInput type="text" name="male2559" formControlName="male2559Control" [readonly]="disableForm" autofocus>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Female 25-59</mat-label>
          <input matInput type="text" name="female2559" formControlName="female2559Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Male above 60</mat-label>
          <input matInput type="text" name="male60" formControlName="male60Control" [readonly]="disableForm" autofocus>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Female above 60</mat-label>
          <input matInput type="text" name="female60" formControlName="female60Control" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      
      <!-- resident occupation-->

      <h4>Occupation by Gender</h4>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Armed Force Male</mat-label>
          <input matInput type="text" name="armedMale" formControlName="armedMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Armed Force Female</mat-label>
          <input matInput type="text" name="armedFemale" formControlName="armedFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Civil Servant Male</mat-label>
          <input matInput type="text" name="civilMale" formControlName="civilMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Civil Servant Female</mat-label>
          <input matInput type="text" name="civilFemale" formControlName="civilFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>


      <div>
            <mat-form-field appearance="outline" style="width:50%;">
              <mat-label>Farmer Male</mat-label>
              <input matInput type="text" name="farmerMale" formControlName="farmerMaleControl" [readonly]="disableForm" autofocus>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:50%;">
              <mat-label>Farmer Female</mat-label>
              <input matInput type="text" name="farmerFemale" formControlName="farmerFemaleControl" [readonly]="disableForm" autofocus>
            </mat-form-field>
      </div>
     
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>House husband</mat-label>
          <input matInput type="text" name="houseHusband" formControlName="houseHusbandControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>House wife</mat-label>
          <input matInput type="text" name="houseWife" formControlName="houseWifeControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Job Seeker Male</mat-label>
          <input matInput type="text" name="jobSeekerMale" formControlName="jobSeekerMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Job Seeker Female</mat-label>
          <input matInput type="text" name="jobSeekerFemale" formControlName="jobSeekerFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Monk</mat-label>
          <input matInput type="text" name="monk" formControlName="monkControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Nun</mat-label>
          <input matInput type="text" name="nun" formControlName="nunControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Private Employee Male</mat-label>
          <input matInput type="text" name="privateEmployeeMale" formControlName="privateEmployeeMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Private Employee Female</mat-label>
          <input matInput type="text" name="privateEmployeeFemale" formControlName="privateEmployeeFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Retiree Male</mat-label>
          <input matInput type="text" name="retireeMale" formControlName="retireeMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Retiree Female</mat-label>
          <input matInput type="text" name="retireeFemale" formControlName="retireeFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Corporate Male</mat-label>
          <input matInput type="text" name="corporateMale" formControlName="corporateMaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Corporate Female</mat-label>
          <input matInput type="text" name="corporateFemale" formControlName="corporateFemaleControl" [readonly]="disableForm" autofocus>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Student Male</mat-label>
        <input matInput type="text" name="studentMale" formControlName="studentMaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Student Female</mat-label>
        <input matInput type="text" name="studentFemale" formControlName="studentFemaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Others Male</mat-label>
        <input matInput type="text" name="othersMale" formControlName="othersMaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Others Female</mat-label>
        <input matInput type="text" name="othersFemale" formControlName="othersFemaleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      </div>

      
      <mat-form-field class="justifier">
        <mat-label>Household Monthly Income</mat-label>
        <input matInput type="text" name="familyIncome" formControlName="familyIncomeControl" [readonly]="disableForm" autofocus>
      </mat-form-field>



      <mat-form-field class="justifier">
        <mat-label>Number of Differently Abled</mat-label>
        <input matInput type="text" name="differentlyAbled" formControlName="differentlyAbledControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      <!-- resident -Transportation- number of vehicles-->

      <div>

        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Number of Electric Car</mat-label>
        <input matInput type="text" name="electricCar" formControlName="electricCarControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Number of Hybrid Car</mat-label>
        <input matInput type="text" name="hybridCar" formControlName="hybridCarControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      </div>
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Number of Taxi</mat-label>
        <input matInput type="text" name="taxi" formControlName="taxiControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width:50%;">
        <mat-label>Number of Other Vehicle</mat-label>
        <input matInput type="text" name="otherVehicle" formControlName="otherVehicleControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      </div>


      <!-- resident- Transportation- parking-->
     
      <mat-form-field class="justifier">
        <mat-label>Parking</mat-label>
        <mat-select name="resParking" formControlName="resParkingControl" [readonly]="disableForm" >
          <mat-option *ngFor="let resParking of resParking" [value]="resParking.name">
            {{resParking.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  style="width:101%;">
        <mat-label>Work-place & School</mat-label>
        <input matInput type="text" name="workPlaceSchool" formControlName="workPlaceSchoolControl" [readonly]="disableForm" autofocus>
      </mat-form-field>
      
      <!-- resident-Transportation- Use of Public buses-->
     
      <mat-form-field class="justifier">
        <mat-label>Usage of Public Bus transport</mat-label>
        <mat-select name="busTransport" formControlName="busTransportControl" [readonly]="disableForm" >
          <mat-option *ngFor="let busTransport of busTransport" [value]="busTransport.name">
            {{busTransport.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- resident -Transportation- Use of Taxis-->
     
      <!-- resident-own land in Thimphu-->
     
      <mat-form-field class="justifier">
        <mat-label>Own Land in Thimphu</mat-label>
        <mat-select name="ownLand" formControlName="ownLandControl" [readonly]="disableForm" >
          <mat-option *ngFor="let ownLand of ownLand" [value]="ownLand.name">
            {{ownLand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- resident own house in Thimphu-->
     
      <mat-form-field class="justifier">
        <mat-label>Own House in Thimphu</mat-label>
        <mat-select name="ownHouse" formControlName="ownHouseControl" [readonly]="disableForm" >
          <mat-option *ngFor="let ownHouse of ownHouse" [value]="ownHouse.name">
            {{ownHouse.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- resident- remarks-->

      <mat-form-field class="justifier">
        <mat-label>Remarks</mat-label>
        <input matInput type="text" name="residentRemarks" formControlName="residentRemarksControl" [readonly]="disableForm" autofocus>
      </mat-form-field>

    </form>
    
<!-- End of Resident Form--> 
  
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="submit()">
        <mat-icon>note_add</mat-icon> Submit
      </button>
    </div>
  </div>
</div>
